{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div id="vue-app"></div>
{% endblock %}

{% block head_stylesheets %}
    <link rel="stylesheet" href="{{ asset('app.css', ea.assets.defaultAssetPackageName) }}">
    {{ vite_entry_link_tags('adminDashboard') }}
    {{ vite_entry_link_tags('app') }}
{% endblock %}

{% block body_javascript %}
    {{ vite_entry_script_tags('adminDashboard') }}
{% endblock body_javascript %}